.github/** linguist-detectable=false
examples/** linguist-documentation=false
**/Containerfile linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.vert linguist-detectable=false
*.frag linguist-detectable=false
*.glsl linguist-detectable=false
*.vs linguist-detectable=false
*.fs linguist-detectable=false
