zengl
zengl-extras
pygame-ce
numpy
requests
progress
vmath
objloader
pillow
chull
ffmpeg-python
matplotlib
pyglm
scikit-image
pybullet
pygmsh
https://github.com/fogleman/sdf/archive/refs/heads/main.zip
imageio[ffmpeg]
opencv-python
meshtools
pyopengl
https://github.com/szabolcsdombi/layered-window/archive/refs/heads/main.zip
https://github.com/szabolcsdombi/font-atlas/archive/refs/heads/main.zip