zengl
zengl-extras
pygame-ce
numpy
requests
progress
vmath
objloader
pillow
chull
ffmpeg-python
matplotlib
pyglm
scikit-image
pybullet
pygmsh
https://github.com/fogleman/sdf/archive/refs/heads/main.zip
imageio[ffmpeg]
opencv-python