name: docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: build
        run: docker build . -f tests/docs/Containerfile -t docs

      - name: docs
        run: docker run --rm -t docs
