name: release

on:
  workflow_dispatch:

jobs:

  sdist:
    name: Package source
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: x64

      - name: deps
        run: python -m pip install -U pip wheel setuptools

      - name: sdist
        run: python setup.py sdist -d package

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: package/*.tar.gz

  wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macos-11]

    env:
      CIBW_BUILD: cp38-* cp39-* cp310-* cp312-*
      CIBW_ARCHS_MACOS: x86_64 arm64

    steps:
      - uses: actions/checkout@v4

      - name: setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: x64

      - name: deps
        run: python -m pip install cibuildwheel==2.16.5

      - name: wheels
        run: python -m cibuildwheel --output-dir package

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: package/*.whl
